@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

/* Base font */
html,
body {
	font-family: 'Open Sans', 'Helvetica', 'Helvetica Neue', serif, sans-serif;
}

/* Navigation */

.navbar > .navbar-header > .navbar-brand,
.navbar li {
	font-family: 'Montserrat', 'Open Sans', serif, sans-serif;
	text-transform: uppercase;
}

.navbar > .navbar-header > .navbar-brand:hover {
	font-weight: bold;
	color: #F44040;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.navbar > .navbar-header {
	font-size: 12px;
}

.navbar li > ul > li {
	font-size: 12px;
}

.navbar-inverse {
	border-radius: 4px 4px 0 0;
	border: 0;
	/*height: 60px;*/
}

.navbar-nav ul {
	height: 60px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > li:hover > a[href] {
	background-color: #F44040;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.off {
	color: #F44040;
}

.on {
	color: #33CC33;
}

.badge.on {
	background-color: #33CC33;
	color: white;
}

.badge.off {
	background-color: #F44040;
	color: white;
}

ul.game-info-custom {
	list-style-type: none;
}

ul.game-info-custom li:before {
	content: "○";
	font-weight: bold;
}

/* Sidebar */
.panel-default.panel-lara .panel-heading {
	font-family: 'Montserrat', 'Open Sans', serif, sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #F44040;
	border-bottom: none;
}


.list-group-item {
	font-weight: bold;
}

/* Typography */
h1, h2, h3, h4, h5, h6, small {
	font-family: 'Open Sans', 'Helvetica', 'Helvetica Neue', serif, sans-serif;
	font-weight: 700;
}

a.item-mall-head {
	font-family: 'Montserrat';
	text-transform: uppercase;
	/*color: #F44040;*/
}